.card {
    color: #004c9c;
    transition: all 200ms ease-in;
    height: 350px;
    box-shadow: 6px 6px 21px #eaeaea, -6px -6px 21px #ffffff;
}

/* increase the button size when hovering on the card  */
.user-card:hover .view-give-feed-btn {
    transform: scale(1.05);
    transition: all 200ms ease-out;
}

/* this is the small colored circled beside the info on the card. */
.color-bio-info {
    width: 5px;
    margin-top: -2px;
    margin-right: 4px;
}

/* button to either give or view feedback */
.view-give-feed-btn {
    position: relative !important;
    left: 20px;
    width: 80% !important;
    bottom: 0;
    transition: all 200ms ease-in;
}

@media only screen and (max-width: 700px) {
    .card {
        color: #004c9c;
        transition: all 200ms ease-in;
        height: auto;
    }
    .view-give-feed-btn {
        position: relative !important;
        left: 35px;
        width: 80% !important;
        bottom: 0;
    }
}
