nav {
    background: #2aa6de;
    /* height:5rem */
}

.logo {
    width: 4rem;
}

nav a {
    text-decoration: none;
    color: #808080;
    font-size: larger;
}

.profile {
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
}

a:hover {
    text-decoration: none;
}