.tab-span {
    background: gray;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.active {
    color: white;
    background: #2aa6dec7 !important;
}

#give-span {
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all ease-out 200ms;
    color: white;
    cursor: pointer;
}

#view-span {
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all ease-out 200ms;
    color: white;
    cursor: pointer;
}

#tab-hr {
    margin-top: 0 !important;
}