footer {
  position: fixed;
  background-color: #2aa6de;
  color: white;
  bottom: 0;
  width: 100%;
  font-size: 0.8rem;
  padding: 5px;
  margin-top: 100px;
}

.footer span {
  color: #eaeaea;
}

.footer-logo {
  width: 20px
}

@media only screen and (max-width: 990px) {
  footer {
    font-size: 0.2rem;
  }
}