footer{
    position: sticky;
    background-color: #d3d3d3;
    bottom: 0;
    width: 100%;
    font-size: 0.8rem;
}

@media only screen and (max-width: 990px) {
    footer {
      font-size: 0.2rem;
    }
  }