.loginBackground {
        background-image: url("../../assets/images/bob_building.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
}