/* Parent div for the login page */
.loginBackground {
    background-image: url("../../assets/images/bob_building.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* div that contains all the login inputs */
.login-jumbotron {
    height: 85% !important;
}

/*logo image */
.login-logo {
    width: 7rem;
}

/* placeholder in the input */
input:hover::placeholder {
    color: #28a6de;
    transition: ease 300ms all;
}

/* The white box where you write the credentials */
.form-control {
    padding: 20px 20px !important;
    background: #ffffff8a !important;
    border-bottom: 1px solid #989898;
    border-radius: 50px !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
}

/* login-button */
.login-btn {
    /* margin: 30px auto; */
    width: 100%;
    background: #28a6de;
    border-radius: 50px;
    padding: 5px 15px;
    transition: all 300ms ease;
    border: none;
    color: white;
    outline: none;
}
.login-btn:hover {
    background: #2486b1;
    letter-spacing: 1px;
}
/* error or the success message */
.login-message {
    border-radius: 50px !important;
    border: none;
}
*:focus {
    outline: 0 !important;
}
