/* Parent div for the login page */
.loginBackground {
    background-image: url("../../assets/images/bob_building.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*logo image */
.login-logo {
    text-align: center;
    margin: 20px auto 10px auto;
    width: 7rem;
}

/* div containing each username div and password */
.form-group {
    margin-top: 50px;
}

/* the white box where you write the credentials */
.form-control {
    background: transparent;
    border-bottom: 1px solid #989898;
    border-radius: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
}

/* this is the jumbotron card */
.card {
    text-align: center;
}

/* login-button */
.login-btn {
    /* margin-top: 30px !important; */
    margin: 30px auto;
    border-radius: 50px;
    background: #28a6de;
    border: 0;
    padding: 5px 15px;
    color: white;
    transition: all 200ms ease;
    border-radius: 50px;
}

/* login-button on hover */
.login-btn:hover {
    color: #ffffff;
    transition: all 200ms ease;
    border-radius: 5px;
}
